node_modules
bower_components
coverage
npm-debug.log
yarn.lock
package-lock.json
pnpm-lock.yaml
.DS_Store

# Environment variables
.env*


# vscode
.vscode
.history
.idea

# python cache
__pycache__

# link
@jswork
@afeiship
